
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100vw;
        margin: auto;
        background-color: plum;
        overflow-x: hidden;
    }

    header {
        width: 100vw;
        background: #23232e;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem;
    }

    .logo img {
        width: 100px;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo h1 {
        font-size: 25px;
        color: whitesmoke;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .nav-item a:hover {
        cursor: pointer;
        opacity: 0.8;
        color: white;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .nav-item {
        margin: 0 10px;
    }

    .nav-link {
        text-decoration: none;
        font-size: 1.15rem;
        color: #fff;
        font-weight: 400;
    }

    main {
        font-family: Helvetica, Arial, sans-serif;
        width: 100vw;
        height: 80vh;
        margin: 0 auto;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container2 {
        background-color: white;
        width: 50%;

        padding: 20px;
        border: 1px solid lightgray;
        border-radius: 10px;
        box-shadow: 5px 5px 5px grey;
    }

    footer {
        background-color: #23232e;
        text-align: center;
        margin: auto;
        padding: 5px;
        width: 100%;
    }

    p {
        padding: 5px;
        text-align: center;
    }

    h2 {
        text-align: center;
        padding: 10px;
    }

    .opcoes:link,
    .opcoe:active {
        text-align: center;
        color: #555;
        text-decoration: none;
        display: block;
        margin-bottom: 1em;
        background-color: #eee;
        border: 0.5px solid lightgray;
        padding: 10px;
        margin: 5px auto;
        width: 80%;
    }

    .opcoes:hover {
        background-color: #dedede;
    }

    .mobile-menu-icon {
        cursor: pointer;
        color: whitesmoke;
        background: transparent;
        font-size: 30px;
        border: none;
        width: 37px;
        height: 38px;
        margin-top: 10px;
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .move {
        display: flex;
        justify-content: left;
    }

/*Responsividade para celulares*/
    @media all AND (max-width: 600px) {
        .logo h1 {
            font-size: 22px;
        }

        .container2 {
            width: 80%;
        }

        .nav-bar {
            padding: 1.5rem;
        }

        .nav-item {
            display: none;
        }

        .mobile-menu-icon {
            display: block;
        }

        .mobile-menu ul {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-bottom: 1rem;
        }

        .mobile-menu .nav-item {
            display: block;
            padding-top: 1.2rem;
        }

        .mobile-menu {
            width: 100%;
        }

        .open {
            display: block;
        }
    }

    /*Responsividade para ipad*/
    @media all AND (min-width: 700px) and (max-width: 820px) {
        main{
            height: 85vh;
        }
        .logo h1 {
            font-size: 30px;
        }
        .logo img {
            width: 110px;
        }
        .container2 {
            width: 80%;
        }
        .nav-bar {
            padding: 1.5rem;
        }

        .nav-item {
            display: none;
        }

        .mobile-menu-icon {
            display: block;
        }

        .mobile-menu ul {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-bottom: 1rem;
        }

        .mobile-menu .nav-item {
            display: block;
            padding-top: 1.2rem;
        }

        .mobile-menu {
            width: 100%;
        }

        .open {
            display: block;
        }
    }
    /*Responsividade para Surface Pro 7*/
@media all AND (min-width: 912px) and (max-width: 1000px) {
    main{
            height: 85vh;
        }
        .logo h1 {
            font-size: 30px;
        }
        .logo img {
            width: 110px;
        }
        .container2 {
            width: 80%;
        }
        .nav-bar {
            padding: 1.5rem;
        }

        .nav-item {
            display: none;
        }

        .mobile-menu-icon {
            display: block;
        }

        .mobile-menu ul {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-bottom: 1rem;
        }

        .mobile-menu .nav-item {
            display: block;
            padding-top: 1.2rem;
        }

        .mobile-menu {
            width: 100%;
        }

        .open {
            display: block;
        }
 }

 /*Responsividade para Galaxy Fold*/
@media all AND (max-width: 280px) {
    main {
        height: 100vh;
    }
    .logo img {
        width: 70px;
    }
    .logo h1 {
        font-size: 18px;
    }
    .mobile-menu-icon {
        width: 32px;
        height: 32px;
        margin-top: 5px;
    }
    .nav-bar {
            padding: 10px;
        }
}

