body {
    background-color: #ddd;
    color: #444;
    font-family: "Helvetica Neue";
    line-height: 1.5;
    width: 60%;
    text-align: left;
    padding: 10px 300px 10px;
}

main {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
section {
    border-top: 1px solid gray;
}
h1, h2 {
    color: rgb(140, 76, 8);
    margin-top: 1px;
}